table {
    width: 100%;
    border-collapse: collapse;
   }
   td, th {
    padding: 3px;
    border: 1px solid #000;
   }
   th {
    background: #b4beadb7;
    color: #333;
   }
   th:hover {
    background: #36342f;
    color: #fff;
   }

